<!DOCTYPE html>
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Header template</title>
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-lg-8 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a id="home" href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a id="hashtag" href="#" class="nav-link px-2 text-secondary">Hashtags</a></li>
                <h3 style="color: white; text-align: center;">엔지니어링 설계정보 디지털 변환 플랫폼</h3>
            </ul>
            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header>
<!--<header th:fragment="header1"> 기존에는 fragment 필요-->
<!--<header>-->
<!--    <h1 style="font-size: 30px; text-align: center;">-->
<!--        엔지니어링 설계정보 디지털 변환 플랫폼-->
<!--    </h1>-->
<!--    <hr>-->
<!--</header>-->
</body>
</html>